.panel {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;
  background: #f3f3f3;
  padding: 0 10px;
}

.slide-down {
  max-height: 200px; /* enough space for content */
  padding: 10px;
}

.slide-up {
  max-height: 0;
  padding: 0 10px;
}
